@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  <center><h1 >Type of Books to Read</h1></center> 
    
                    

<section class="items-product1 pt-30">
        <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div >
                            <div class="items-img">
                                <img src="hor.jpg" alt="" width="200" height="250">
                                 </div>
                            <div class="items-details">
                                <h4>Horror Books</h4>
                                 <a class="btn btn-dark" asp-area="" asp-controller="books" asp-action="Get">Detalis</a> </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div >
                            <div class="items-img">
                                <img src="my.jpg" alt="" width="200" height="250">
                               </div>
                            <div class="items-details">
                                <h4>Mystery Books</h4>
                                <a class="btn btn-dark" asp-area="" asp-controller="books" asp-action="Get">Detalis</a>  </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div >
                            <div class="items-img">
                                <img src="roma.jpg" alt="t" width="200" height="250">
                                 </div>
                            <div class="items-details">
                                <h4>Romantic Books</h4>
                                 <a class="btn btn-dark" asp-area="" asp-controller="books" asp-action="Get">Detalis</a>  </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div >
                            <div class="items-img">
                                <img src="adv.jpg" alt="Girl in a jacket" width="200" height="250">
                                 </div>
                            <div class="items-details">
                                <h4>Adventure Books</h4>
                                <a class="btn btn-dark" asp-area="" asp-controller="books" asp-action="Get">Detalis</a>
                        
                            </div>
                        </div>
                        </div>
                    </div>

                </div>
         </div>
</section>


</div>
